@keyframes blink-critical {
    0% {
        color: rgb(237, 237, 237);
        text-shadow: 0em 0em 0.5em rgba(255, 48, 48, 1),
        0em 0em 0.5em rgba(255, 48, 48, 1),
        0em 0em 0.5em rgba(255, 48, 48, 1),
        0em 0em 0.5em rgba(255, 48, 48, 1);
    }
    50% {
        color: rgba(255, 48, 48, 1);
        text-shadow: 0em 0em 0.5em rgba(255, 48, 48, 0),
        0em 0em 0.5em rgba(255, 48, 48, 0);
    }
    100% {
        color: rgb(237, 237, 237);
        text-shadow: 0em 0em 0.5em rgba(255, 48, 48, 1),
        0em 0em 0.5em rgba(255, 48, 48, 1),
        0em 0em 0.5em rgba(255, 48, 48, 1),
        0em 0em 0.5em rgba(255, 48, 48, 1);
}
}

/* COLORS */
@define-color bg #000000;
@define-color fg #EDEDED;
@define-color warning #FFB23F;
@define-color critical #FF3030;

/* Reset all styles */
* {
    border: none;
    min-height: 0;
    margin: 0em 0.25em 0em 0.25em;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @fg;
    font-family: "JetBrains Mono", "Material Design Icons";
    font-size: 15px;
    font-weight: bold;
    border-radius: 0;
}

/* Each module */
#backlight,
#battery,
#clock,
#network,
#pulseaudio,
#tray {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#battery.warning:not(.charging) {
    background-color: @bg;
    color: @warning;
}

#battery.critical:not(.charging) {
    color: @critical;
    background: @bg;
    text-shadow: 0em 0em 0.5em @critical,
    0em 0em 0.5em @critical;
    animation: blink-critical 2.5s infinite;
}

button.flat {
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#window {
    font-weight: bold;
}

#pulseaudio {
    background: @bg;
    color: @fg;
}

#pulseaudio.muted {
    background-color: @critical;
    color: @bg;
}

#pulseaudio.source-muted {
    background-color: @warning;
    color: @bg;
}

#tray {
    background-color: @bg;
    color: @fg;
}
